<div id="<%= dom_id user_task %>">
  <p>
    <strong>User:</strong>
    <%= user_task.user_id %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= user_task.task_id %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= user_task.due_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= user_task.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= user_task.end_time %>
  </p>

  <p>
    <strong>Remarks:</strong>
    <%= user_task.remarks %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_task.status_id %>
  </p>

  <p>
    <strong>Deleted at:</strong>
    <%= user_task.deleted_at %>
  </p>

</div>
